.galery{
  position: relative;
  display: grid;
  margin: auto;
  justify-content: center;
  width: 250px;
  height: 150px;
  transform-style: preserve-3d;
  animation: rotate 35s linear infinite;
}

@keyframes rotate{
  from{
    transform: perspective(1200px) rotateY(0deg);
  }

  to{
    transform: perspective(1200px) rotateY(360deg);
  }
}

.galery span{
  position: absolute;
  width: 90%;
  height: 90%;
  transform-origin: center;
  transform-style: preserve-3d;
  transform: rotateY(calc(var(--i) * 45deg)) translateZ(380px);
}

.galery span img{
  position: absolute;
  width: 90%;
  height: 90%;
  object-fit: cover;
}