/* GENERAL -------------------------------------------------------------------------------- */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
}

body {
  background-color: black;
  min-height: 100vh;
  font-family:'Courgette', cursive, Arial, Helvetica, sans-serif;
  font-weight: normal;
}

a, a:hover, a:focus, a:active {
  text-decoration: none;
  color: goldenrod;
}

h1 {
  font-size: 5rem;
}

.contenedor {
    display: grid;
    min-width: 99%;;
	  max-width: 1900px;
    grid-template-areas:
        'header header header'
        'carrusel carrusel carrusel'
        'dolar crpt map'
        'bcer usa map'
        'lcer bdl map'
        'noti noti noti'
        'footer footer footer';
    gap: 1.2rem;
    padding: 10px;
    grid-template-rows: repeat(7, auto);
    grid-template-columns: repeat(3, 1fr);
    background-color: black;
    overflow: hidden;
}

h3{
    color: goldenrod;
    font-size: 2rem;
    border-bottom: 1px solid #A5C9CA;
}

.box {
    background-color: #1f2c34;
    padding: 10px;
    color: whitesmoke;
    text-align: center;
    border-radius: 10px;
}

.box table{
  margin: 0 auto;
  text-align: left;
  font-size: 1.5rem;
}

.box table td{
  padding: 5px 20px;
}

ul {
  list-style: none;
}

/* Header ------------------------------------------------------------------ */

.header {
  grid-area: header;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: auto;
  text-align: center;
}

.header h1 {
  margin-left: 10rem;
}

.header img{
  max-width: 15rem;
  max-height: 15rem;
}
  
.nav-header a {
  display: inline-block;
  color: whitesmoke;
  text-decoration: none;
  padding: 10px 20px;
  line-height: normal;
  font-size: 2rem;
  font-weight: bold;
  border-radius: 50px;
  -webkit-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
}

.nav-header a:hover {
  background: goldenrod;
}

/* Carrusel -------------------------------------------------------------------------------*/

.carrusel{
    display: grid;
    padding: 10px;
    margin-top: 40px;
    grid-area: carrusel;
    position: relative;
    justify-content: center;
}
    
.galery{
  position: relative;
  display: grid;
  margin: auto;
  justify-content: center;
  width: 250px;
  height: 150px;
  transform-style: preserve-3d;
  animation: rotate 35s linear infinite;
}

@keyframes rotate{
  from{
    transform: perspective(1200px) rotateY(0deg);
  }

  to{
    transform: perspective(1200px) rotateY(360deg);
  }
}

.galery span{
  position: absolute;
  width: 90%;
  height: 90%;
  transform-origin: center;
  transform-style: preserve-3d;
  transform: rotateY(calc(var(--i) * 45deg)) translateZ(380px);
}

.galery span img{
  position: absolute;
  width: 90%;
  height: 90%;
  object-fit: cover;
}

/* BOX ------------------------------------------------------------------------ */

.dolar {
  grid-area: dolar;
}

.crpt {
 grid-area: crpt;
}

.map {
  grid-area: map;
}
.coin360 {
  margin-top: 10px;
  height: 95%;
}

.bonoscer {
  grid-area: bcer;
}

.usa {
  grid-area: usa;
}

.lcer {
  grid-area: lcer;
}

.bdl {
  grid-area: bdl;
}

.noticias {
  grid-area: noti;
}
.content {
  color: whitesmoke;
  display: flex;
  justify-content: space-between;
}

.footer {
  grid-area: footer;
  display: grid;
}

.footer a img{
  display: block;
  max-width: 15%;
  height: auto;
  margin-right: auto;
  margin-left: auto;

}
.footer a{
  margin: 0 40px 0 0;

}

/* Scroll ---------------------------------------------------- */

.scrollWrapper {
  width: 100%;
  height: 300px;
  overflow: hidden;
  margin-top: 1rem;
  font-family: Arial;
  font-size: 2rem;
}

#scroll {
  position: relative;
  width: auto;
  margin: 1px;
  z-index: -1;
  padding: 5px;
  z-index: 9999999;
}
#scroll .title {
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 20px;
}

/* Paginas Noticias ----------------------------------------------------------------*/

/* Pagina Contacto --------------------------------------------------------------------- */
header nav{
  position: absolute;
  right: 0;
}

.footer nav li{
  display: inline;
  margin: 0 12px 0 10px;
}

.footer nav a{
  text-transform: uppercase;
  color: #a2a2a2;
  font-weight: bold;
  font-size: 24px;
  text-decoration: none;
}

.footer nav a:hover{
  color: #c78c19;
  text-decoration: underline;
}
.formulario{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  background-color: #1f2c34;
  padding: 10px;
  color: whitesmoke;
  border-radius: 10px;
}

form{
  margin: 40px 0;
  align-items: center;
  padding: auto;
}
.titulo-form, .texto-form{
  text-align: center ;
  font-family:'Courgette', cursive, Arial, Helvetica, sans-serif;
  color: rgb(120, 120, 120);
}

.titulo-form{
  font-size: 200%;
  
}
.texto-form{
  font-size: 120%;
}
form label, form legend{
  display: block;
  font-size: 20px;
  margin: 0 0 10px;
}

.input-padron{
  display: block;
  margin: 0 0 20px;
  padding: 10px 25px;
  width: 50%;
}

.checkbox{
  margin:20px 0;
}

.enviar{
  width: 40%;
  padding: 10px 0;
  margin: 10px;
  font-size: 18px;
  font-weight: bold;
  color:white;
  background: rgb(70, 24, 251);
  border:none;
  border-radius: 5px;
  transition: 1s all;
  cursor:pointer;
}

.enviar:hover{
  background: rgb(119, 106, 232);
  transform: scale(1.12);
}

footer{
  text-align: center;
  background: #354a57;
  padding:40px;
}
footer a img{
  display: block;
  max-width: 15%;
  height: auto;
  margin-right: auto;
  margin-left: auto;

}
footer a{
  margin: 0 40px 0 0;

}

.copyright{
  color:#FFFFFF;
  font-size: 13px;
  margin:0 8% 0 8%;
}
