body{
     
    background-color: #1f2c34;
    min-height: 100vh;
    font-family:'Courgette', cursive, Arial, Helvetica, sans-serif;
    font-weight: normal;
    
}

header nav{
    position: absolute;
    right: 0;
}

nav li{
    display: inline;
    margin: 0 12px 0 10px;
}

nav a{
    text-transform: uppercase;
    color: #a2a2a2;
    font-weight: bold;
    font-size: 24px;
    text-decoration: none;
}

nav a:hover{
    color: #c78c19;
    text-decoration: underline;
}


.formulario{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    background-color: #1f2c34;
    padding: 10px;
    color: whitesmoke;
    border-radius: 10px;
}

form{
    margin: 40px 0;
    align-items: center;
    padding: auto;
}
.titulo-form, .texto-form{
    text-align: center ;
    font-family:'Courgette', cursive, Arial, Helvetica, sans-serif;
    color: rgb(120, 120, 120);
}

.titulo-form{
    font-size: 200%;
    
}
.texto-form{
    font-size: 120%;
}
form label, form legend{
    display: block;
    font-size: 20px;
    margin: 0 0 10px;
}

.input-padron{
    display: block;
    margin: 0 0 20px;
    padding: 10px 25px;
    width: 50%;
}

.checkbox{
    margin:20px 0;
}

.enviar{
    width: 40%;
    padding: 10px 0;
    margin: 10px;
    font-size: 18px;
    font-weight: bold;
    color:white;
    background: rgb(70, 24, 251);
    border:none;
    border-radius: 5px;
    transition: 1s all;
    cursor:pointer;
}

.enviar:hover{
    background: rgb(119, 106, 232);
    transform: scale(1.12);
}

/* style para el footer */

footer{
    text-align: center;
    background: #354a57;
    padding:40px;
}
a img{
    display: block;
    max-width: 15%;
    height: auto;
    margin-right: auto;
    margin-left: auto;

}
footer a{
    margin: 0 40px 0 0;

}

.copyright{
    color:#FFFFFF;
    font-size: 13px;
    margin:0 8% 0 8%;
}



@media screen and (max-width:480px){
    h1{
        text-align: center;
    }
    nav{
        position: static;
    }
    .caja, .principal, .mapa-contenido, .contenido-diferenciales, .video {
        width: auto;
    }
    .lista-diferenciales, .imagen-diferenciales{
        width: 100%;
    }

}

